{% extends 'main.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container my-5">
        <!-- Expense Summary -->
        <div class="expense-summary">
            <h3 class="text-center">Accounts</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="card expense-card">
                        <div class="card-body">
                            <h5 class="card-title">Cash Account</h5>
                            <p class="card-text">$500</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">+</button>
            </div>
        </div>
    </div>
{% endblock %}